[submodule "third_party/danmaku2ass"]
	path = third_party/danmaku2ass
	url = https://github.com/m13253/danmaku2ass
[submodule "third_party/you-get"]
	path = third_party/you-get
	url = https://github.com/soimort/you-get
